.navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    padding: 20px;
    mix-blend-mode: difference;
}

.links {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    color: white;
    background-color: transparent;

    padding: 8px;
    outline: 0;
    border: 0;

    animation: none;
}

.links:hover {
    cursor: pointer;
    animation: wiggle 2s infinite;
}

@keyframes wiggle {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}