.tutorial {
    position: relative;
    width: 100vw;
    height: 100vh;

    .text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
            text-decoration: none;
            color: white;
            background: linear-gradient(to left, black 50%, white 50%) right;
            background-size: 200%;
            transition: 0.5s ease-out;
            border: 0;
            outline: 0;
            padding: 10px 20px;

            &:hover {
                cursor: pointer;
                color: black;
                background-position: left;
            }

            &:disabled {
                background: transparent;
                color: transparent;
            }
        }
    }
}

.skip {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    z-index: +1;

    .skip_text {
        margin-right: 18px;
    }

    .icon {
        position: absolute;
        right: 0;
    }

    &:hover {
        cursor: pointer;

        .icon {
            animation: leftright 1s ease-in-out infinite;
        }
    }
}

.repeat {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    z-index: +1;

    .repeat_text {
        margin-right: 18px;
    }

    .icon {
        position: absolute;
        right: 0;
    }

    &:hover {
        cursor: pointer;

        .icon {
            animation: spin 2s linear infinite;
        }
    }
}

.container {
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin: 0;
    bottom: 0;
}

.inner_carousel {
    display: flex;
    width: 100%;
    height: 100%;
}

.item {
    min-width: 100%;
    min-height: 100%;
}

.animation_container {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
}

.blocked {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}

.repositories {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: "Silkscreen", sans-serif;
        font-weight: 500;
        font-size: 2em;
        text-align: center;
    }
}

.github_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 8px 0;

    .icon {
        font-size: 2em;
        text-align: center;
        margin-right: 8px;
    }

    .title {
        font-family: "Silkscreen", sans-serif;
        font-weight: 500;
        font-size: 1em;
        text-align: center;
    }

    &:hover {
        .icon {
            animation: spin 2s linear infinite;
        }
        
        .title {
            animation: updown 1s linear infinite;
        }
    }
}

.warning {
    width: 80%;
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgb(112, 112, 112);
    text-align: center;
    margin-top: 32px;
}

@keyframes leftright {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes spin {
    0% {
        transform-origin: center;
        transform: rotate(0);
    }
    100% {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}