.page {
    width: 100%;
    height: 100%;
    background-color: white;
}

.images {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    img {
        width: 50%;
        height: auto;
        padding: 10px;
        border-radius: 20px;
    }
}

.presentation {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: "Silkscreen", sans-serif;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
    }

    video {
        width: auto;
        height: 40%;
        border-radius: 20px;
        border: 8px solid black;
    }

    a {
        display: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        width: auto;
        border-radius: 20px;
    }
}

.fullscreenAnimation {
    animation: fullscreen 0.2s ease-out forwards;
}

.minimizeAnimation {
    animation: minimize 0.2s ease-out forwards;
}

.openlinkAnimation {
    animation: openlink 0.4s ease-out forwards;
}

.spinAnimation {
    animation: spin 3s linear infinite;
}

@keyframes fullscreen {
    0% {
        height: 40%;
    }
    100% {
        height: 70vh;
    }
}

@keyframes minimize {
    0% {
        height: 70vh;
    }
    100% {
        height: 0vh;
    }
}

@keyframes openlink {
    0% {
        height: 0px;
    }
    100% {
        height: auto;
    }
}