.page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.presentation {
    width: 100%;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: "Silkscreen", sans-serif;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
    }

    video {
        width: auto;
        height: 60vh;
        border-radius: 20px;
        border: 8px solid black;
    }
}

.conveyor_container {
    position: absolute;
    width: 100%;
    height: 100%;

    .conveyor {
        position: absolute;
        left: 50%;
        bottom: 8px;
        transform: translateX(-50%) rotate(1deg);
        width: auto;
        height: 500px;
        animation-delay: 2s;
    }
}

.falldownAnimation {
    animation: falldown 2s ease-out forwards;
}

.outofwayAnimation {
    animation: outofway 8s linear forwards;
}

@keyframes falldown {
    0% {
        transform: translate(-50%, -100vh);
    }

    100% {
        transform: translate(-50%, -108px);
    }
}

@keyframes outofway {
    0% {
        transform: translateX(-50%) rotate(1deg);
    }
    99.9% {
        transform: translateX(-150vw) rotate(1deg);
    }
    100% {
        transform: translateY(-100vh) rotate(1deg);
    }
}